node_modules
bazel-*
dist
*.log

infrastructure/.terraform
infrastructure/*.plan
infrastructure/*.info
infrastructure/*.tfstate
infrastructure/*.backup
infrastructure/google-sa.json

libraries/config/dev.config

angular-client/environment/prod.ts

nextjs-client/node_modules
nextjs-client/.next