# This config file is only used for local development only
# It is passed as env_file in docker-compose.yaml
ENVIRONMENT=dev
API_URL=http://localhost:3001
WEBSOCKET_URL=ws://localhost:3001
CLIENT_URL=http://localhost:8080
WEB_PUSH_VAPID_PUBLIC_KEY=BME74zSeApXmd05j-p0Y9dmGUrzGIphqaPPjaMDuiA5f_Bez6IPmMU45_s7xmTRWIvzMFnf-y5qeT5jQlK1eUso
WEB_PUSH_VAPID_PRIVATE_KEY=3vMSOMYoxnGsnhZ48cLgUO5yOeCxlP3qe6XOlo63UkA
MYSQL_HOST=fullbazel_mysql
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_DATABASE=db
MYSQL_PASSWORD=password
KAFKA_SEED_BROKER=kafka:9092

# Change values below for local development
AUTH_TOKEN_SECRET=change_me
GOOGLE_SIGN_IN_CLIENT_ID=change_me
GOOGLE_SIGN_IN_CLIENT_SECRET=change_me

# FIXME use this file to generate a typescript type for the config key
