
#update_banner
  position: fixed
  display: flex
  align-items: center
  top: var(--space-med)
  right: -4px
  background: var(--text-dark)
  border: 2px solid var(--text)
  color: white
  fill: white
  padding: var(--space) var(--space-med)
  border-radius: 3px
  font-size: 1.5rem
  animation: fadein var(--transition-speed) ease-in
  cursor: pointer

  svg
    width: 2rem
    height: 2rem

  span
    margin-left: var(--space)

@keyframes fadein
  from
    transform: translateX(100%)
  to
    transform: translateX(0%)
